<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <div class="header-container">
    <div class="header"><p>Bookmark App</p></div>
  </div>

  <div class="pagebody">

    <div class="bookmark-content">
      <div class="bookmark-listing"></div>
      <script type="text/template" data-template-name="bookmark-list">
        <ul>
          <li class="bookmark-title"><p><%= bookmark_title %></p></li>
          <li class="bookmark-url"><p><%= bookmark_url %></p></li>
          <li class="bookmark-description"><p><%= bookmark_description %></p></li>
          <li class="bookmark-tag"><p><%= bookmark_tag %></p></li>
        </ul>
      </script>
    </div>

    <div class="sidebar">

      <form id="bookmark-info">
        <div class="bookmark">
          <div class="add-bookmark-title">
            <label>Bookmark Title</label>
            <input type="text" class="bookmarkTitleInput"/>
          </div>
          <div class="add-bookmark-url">
            <label>Bookmark URL</label>
            <input type="text" class="bookmarkUrlInput" />
          </div>
          <div class="add-bookmark-description">
            <label>Bookmark Description ($)</label>
            <input type="text" class="bookmarkDescriptionInput"/>
          </div>
          <div class="add-bookmark-tag">
            <label>Bookmark Tag</label>
            <input type="text" class="bookmarkTagInput"/>
          </div>
          <div class="form-button">
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>

      <div class="tag-content">
        <div class="bookmark-listing"></div>
        <script type="text/template" data-template-name="bookmark-list">
          <ul>
            <li class="tag-category"><p><%= bookmark_tag %></p></li>
          </ul>
        </script>
      </div>
    </div>

  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script src="scripts/main.js"></script>

</body>
</html>
